@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Outfit:wght@100..900&display=swap');
:root{
    
--Green_500: hsl(158, 36%, 37%);
--Green_700: hsl(158, 42%, 18%);
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.attribution{
    position: fixed;
    bottom: 1rem;
}


body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    background-color: var(--Cream);
    min-height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    height: 32rem;
    width: 41rem;  
}

.left {
    height: 100%;
    display:flex;
    margin: auto;
}

.left img{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    max-height: 100%;
   
}

h1,p{
    color: var(--Grey);
    font-weight: 350;
}

h1{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
}

h2{
    line-height: 2.4rem;
}

.newprice,h2{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
}

.newprice{
    color:var(--Green_500);
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul li:last-child{
    text-decoration: line-through;
    color: var(--Grey);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Green_500);
    color: var(--White);
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    gap:1rem;
    font-weight: 700;
}

button:hover{
    background-color: var(--Green_700);
    cursor: pointer;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 1.6rem;
    height: 85%;     
}

p{
    line-height: 1.5rem;
    font-size: 1.1rem;
}

@media (max-width: 722px) {

     body {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .card {
    flex-direction: column;
    width: 90vw;
    height: auto;
  }

  .left {
    width: 100%;
    height: auto;
  }

  .left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }

  img {
  max-width: 100%;
  height: auto;
  display: block;
}

  .right {
    width: 90%;
    height: auto;
    padding: 1rem;
  }
}
